.Rproj.user
.Rhistory
.RData
.Ruserdata
/site_libs
debug.log
0_Demographics_Sensitive_Data.Rmd
0_Demographics_Sensitive_Data.html
1_Behavioral_Performance_cache
2_ERP_Analysis_cache
3_ERP_Visualization_cache
4_SCR_Analysis_cache
5_Trait_Variables_cache
data/
Task_and_Data_Description.md
power_analysis.R